@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-site {
    display: flex;
    min-height: 100vh;
}

.btn-primary {
    background-color: #f0c040;
    color: black;
    border: #404040 1px solid;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-large {
    max-width: 100%;
}

.product img {
    width: 100%;
    max-width: 400px;
}

.product {
    border: 1px #404040 solid;
    margin: 1rem;
}

.img-thumbnail {
    height: 80px;
}

main {
    flex: 1;
}

.small-container {
    max-width: 600px;
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: #f1e20c !important;
}

.checkout-steps>div {
    border-bottom: 0.2rem solid #a0a0a0;
    color: #a0a0a0;
}

.checkout-steps>div.active {
    border-bottom: 0.2rem solid #f08000;
    color: #f08000;
}

.small-container h2 {
    color: #111;
    margin-bottom: 45px;
    margin-top: 30px;
    Line-height: 1em;
    font-weight: 500;
    padding-left: 10px;
    border-left: 5px solid#f0c040;
}

.small-container .inputBox {
    position: relative;
    width: 300px;
    height: 60px;
    margin-bottom: 35px;
}

.small-container .inputBox:last-child {
    margin-bottom: 35;
}

.small-container .inputBox input {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    border: 1px solid#111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    color: #111;
    font-weight: 300;
}

.small-container .inputBox span {
    position: absolute;
    top: 1px;
    Left: 1px;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
    color: #111;
    font-weight: 300;
    transition: 0.5s;
    pointer-events: none;
}

.small-container .inputBox input:focus~span,
.small-container .inputBox input:valid~span {
    transform: translateX(-10px) translateY(-40px);
    font-size: 14px
}


/* Button[type="submit"]:hover{
    background-color: #d1a11e !important;
    color: #111;
    border: #111 1px solid;
    font-weight: 500;
} */